@font-face {
  font-family: 'entypo';
  src: url('note/font/entypo.eot');
  src: url('note/font/entypo.eot') format('embedded-opentype'),
  	   url('note/font/entypo.woff') format('woff'),
       url('note/font/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*The header begins here!*/

#header {
	display: block;
}

#header img{
	width: 600px;
	margin-top: 30px;
	float: left;
	overflow: hidden;
}

.entypo{
	font-family: 'entypo';
}

.music-note {
	position: absolute;
	margin-top: 190px;
	margin-left: 650px;
	font-size: 35em;
	color: white;
}
.music-note2{
	position: absolute;
	margin-top: 320px;
	margin-left: 850px;
	font-size: 30em;
	color:white;
}
p{
	position: absolute;
	margin-top: 350px;
	margin-left: 600px;
	float: right;
	color: white;
	font-size: 4em;
	-webkit-transition: 3s all ease-in-out;
	transition: 3s all ease-in-out;
}

p:hover{
	color: #e5e54d;
}

.fact {
	float: right;
	margin-right: 80px;
	font-family: sans-serif;
	font-size: 1.5em;
	color: white;
	width: 500px;
	margin-top: 50px;
	font-family: 'Finger Paint', cursive;
}

body{
	background: rgb(34,69,105);
	margin: 0px;
	

}

.title{
	float: left;
	font-family: 'Cantora One', sans-serif;
	width: 1000px;
	color: white;
	font-size: 6em;
	margin-top: -23px;
}
.blues{
	float: left;
	font-family: 'Cantora One', sans-serif;
	width: 1000px;
	color: white;
	font-size: 8.9em;
	margin-top: -45px;

}
.cleff{
	float: left;
	position: absolute;
	margin-top: 405px;
	margin-left: 280px;

}
.cleff img{
	float: left;
}
.PROJECT{
	float: left;
	font-family: 'Cantora One', sans-serif;
	width: 1000px;
	color: white;
	font-size: 6.5em;
	margin-top: -47px;

}


.birds{
	float: right;
	margin-top: -400px;
	margin-right: 100px;
	z-index: 1000;
}

.birds img{
	float:right;
}
.pole{
	position: absolute;
	margin-left: 1050px;
	margin-top: 250px;
}
.shape {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -310px;
	margin-left: 404px;
}

.shape img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
.shape3 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -239px;
	margin-left: 404px;



}

.shape3 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
.shape4 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -168px;
	margin-left: 404px;


}

.shape4 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}

.shape5 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -97px;
	margin-left: 404px;


}

.shape5 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
.shape6 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -26px;
	margin-left: 404px;


}

.shape6 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}




/*Total header ends here*/

/**********************************************************************************/

/*Content starts here!*/

#content{
	display: block;
	float: right;
	color:white;
	font-family: 'Cantora One', sans-serif;
	background: url('bg2.png');
	font-size: 1.5em;
	width:100%;
	height: 100px;
	margin-top: 55px;
}
#content img{
	float: left;
	margin-right: 20px;
	
}
.content-inner{
	background: rgba(229, 229, 77,0.5);
	height: 100%;
	padding: 0px;

}

.shape2{
	display: block;
	float: left;
	width: 100%;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: 25px;
}
.shape2 img{
	float: left;
	margin-left: 10%;
	margin-top: -12.5px;
}
#content3{
	float: right;
	color:white;
	font-family: 'Cantora One', sans-serif;
	background: url('bg.png');
	font-size: 1.5em;
	width:100%;
	height: 100px;
	margin-top: 155px;

}
.content img{

}

#content3-inner{
	background: rgba(229, 229, 77,0.2);
	height: 100%;
	padding: 0px;


}

#content2-inner{
	background: rgba(34,69,105,0.5);
	
	height: 100%;
	padding: 50px;

}
#content2{
	display: block;
	background: url('bg2.png');
	float: left;
	color: white;
	font-family: 'Cantora One', sans-serif;
	font-size: 1.5em;
	margin-top: 500	px;
	height: 500px;
}
#content2 img{
	float: right;
	margin-left: 10px;
}
#footer{
	display: block;

}
#footer img{
	width:100%;
	height: 400px;
	margin-bottom: 0px;
}
