body {
  margin: 0px;
  background: url('images/absurd.png');
}
@font-face {
  font-family: 'entypo';
  src: url('note/font/entypo.eot');
  src: url('note/font/entypo.eot') format('embedded-opentype'), url('note/font/entypo.woff') format('woff'), url('note/font/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glametrix';
  src: url('note/font/Glametrix.otf');
}
@font-face {
  font-family: 'Glametrix';
  src: url('note/font/GlametrixBold.otf');
}
@font-face {
  font-family: 'Glametrix';
  src: url('note/font/GlametrixLight.otf');
}
@font-face {
  font-family: 'devanew';
  src: url('note/font/devanew.ttf');
}
@font-face {
  font-family: 'tribal';
  src: url('note/font/Tribal.ttf');
}
@font-face {
  font-family: 'tree';
  src: url('note/font/tree.ttf');
}
@font-face {
  font-family: 'vital';
  src: url('note/font/vital.ttf');
}
@font-face {
  font-family: 'ppe';
  src: url('note/font/ppe.ttf');
}
@font-face {
  font-family: 'midnight';
  src: url('note/font/midnight.ttf');
}
@font-face {
  font-family: 'whizbang';
  src: url('note/font/whizbang.ttf');
}
@font-face {
  font-family: 'homestead';
  src: url('note/font/homestead.ttf');
}
/*The header begins here!*/
/*#header {
    display: block;
    width: 6000px;
}

#header img{
    width: 600px;
    margin-top: 15px;
    margin-left: 0px;
    float: left;
    overflow: hidden;
}*/
.view1 {
  position: relative;
  height: 700px;
  background: #224569;
  width: 200%;
}
.view1 .main-title-container {
  float: left;
  position: relative;
  z-index: 10;
}
.view1 .main-title-container .the {
  float: left;
  font-family: 'Arbutus Slab', serif;
  color: #ffffff;
  font-size: 4em;
  margin-left: -1200px;
  margin-top: 300px;
  text-shadow: 2px 2px 10px #4c88c6;
}
.view1 .main-title-container .title-text-shadow {
  text-shadow: 3px 3px 5px #224569;
}
.view1 .main-title-container .title {
  text-shadow: 3px 3px 5px #224569;
  font-family: 'devanew';
  color: #c7c7c7;
  font-size: 9em;
  margin-top: 0px;
  margin-left: 10px;
}
.view1 .main-title-container .blues {
  text-shadow: 3px 3px 5px #224569;
  font-family: 'ppe', serif;
  color: #c7c7c7;
  font-size: 9.5em;
  margin-left: 10px;
  margin-top: -50px;
}
.view1 .main-title-container .project {
  text-shadow: 3px 3px 5px #224569;
  font-family: 'ppe', serif;
  color: #c7c7c7;
  font-size: 6.5em;
  margin-top: -42px;
  margin-left: 10px;
}
.view1 .fact2 {
  float: left;
  margin-left: 15%;
  font-family: sans-serif;
  margin-top: 150px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: rgba(246, 191, 39, 0.5);
  z-index: 40;
}
.view1 .fact2 p {
  color: #c7c7c7;
  font-family: 'Glametrix', serif;
  font-size: 5em;
  text-align: center;
  margin-top: 5%;
  text-shadow: 2px 2px 5px #224569;
}
.view1 .tree {
  float: right;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.view1 .tree img {
  float: right;
  height: 500px;
  z-index: -1;
}
.left {
  width: 100%;
  float: left;
}
.left .middle-row-sc {
  width: 100%;
  position: relative;
  background: url('images/bg4.png');
}
.left .middle-row-sc .middle-row-inner {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: url('images/absurd.png');
}
.left .middle-row-sc .middle-row-inner .about-container {
  float: left;
  margin-left: 10%;
  position: relative;
  width: 70%;
  margin-top: 15%;
}
.left .middle-row-sc .middle-row-inner .about-container .circle1 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 50px;
  left: 120px;
  background: #db4545;
}
.left .middle-row-sc .middle-row-inner .about-container .circle2 {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 110px;
  left: 60px;
  background: #948b86;
}
.left .middle-row-sc .middle-row-inner .about-container .circle3 {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 190px;
  left: 0;
  background: #224569;
}
.left .middle-row-sc .middle-row-inner .about-container .desc-container {
  float: left;
  margin-left: 20%;
  width: 80%;
}
.left .middle-row-sc .middle-row-inner .about-container .desc-container .title {
  font-size: 3em;
  color: #224569;
  width: 100%;
  font-family: 'whizbang';
}
.left .middle-row-sc .middle-row-inner .about-container .desc-container .main-text {
  font-family: 'ppe', serif;
  font-size: 2em;
  color: black;
}
.left .middle-row-sc .middle-row-inner .projects-container {
  float: right;
  margin-right: 50px;
  margin-top: 30%;
}
.left .middle-row-sc .middle-row-inner .projects-container .project-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  background: #c7c7c7;
  margin-left: 20%;
}
.left .middle-row-sc .middle-row-inner .projects-container .project-text {
  font-family: 'whizbang';
  font-size: 2em;
  color: #224569;
  margin-top: 5%;
}
.left .middle-row-sc .middle-row-inner .why-container {
  position: relative;
  width: 100%;
  float: left;
  text-align: center;
}
.left .middle-row-sc .middle-row-inner .why-container .why-circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #6d6560;
  margin: 0 auto;
}
.left .middle-row-sc .middle-row-inner .why-container .why-text {
  color: black;
  font-size: 2em;
  font-family: 'whizbang';
}
.left .bottom-row-sc {
  width: 100%;
  position: relative;
}
.left .bottom-row-sc .bottom-row-inner {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.left .bottom-row-sc .bottom-row-inner .circles {
  width: 60%;
  height: 100px;
  position: relative;
  left: 15%;
}
.left .bottom-row-sc .bottom-row-inner .circles .c1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #948b86;
  left: 20%;
  position: absolute;
}
.left .bottom-row-sc .bottom-row-inner .circles .c2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #c7c7c7;
  left: 40%;
  position: absolute;
  opacity: .7;
}
.left .bottom-row-sc .bottom-row-inner .circles .c3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #c7c7c7;
  left: 60%;
  position: absolute;
  opacity: .7;
}
.left .bottom-row-sc .bottom-row-inner .circles .c4 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #c7c7c7;
  left: 80%;
  position: absolute;
  opacity: .7;
}
.left .bottom-row-sc .bottom-row-inner .photo-container {
  width: 100%;
  position: relative;
  height: 600px;
}
.left .bottom-row-sc .bottom-row-inner .photo-container .photo {
  position: absolute;
  width: 900px;
  height: 600px;
  left: 10%;
  background: red;
  background: url('images/bihar migrants.jpg');
}
.left .bottom-row-sc .bottom-row-inner .photo-container .photo img {
  width: 100%;
}
.left .bottom-row-sc .bottom-row-inner .photo-container .support {
  overflow: visible;
  position: absolute;
  width: 200px;
  height: 600px;
  right: 10%;
  background: #c7c7c7;
  margin-top: 0%;
}
.left .bottom-row-sc .bottom-row-inner .photo-container .support .text-inner {
  display: inline;
  vertical-align: middle;
  padding: 5%;
  width: 90%;
  font-size: 1.5em;
  overflow: hidden;
  font-family: 'ppe';
  color: #000;
}
.left .bottom-row-sc .bottom-row-inner .photo-container .support .text-inner .quote {
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  margin-top: 50%;
}
.left .bottom-row-sc .bottom-row-inner .photo-container .support:before {
  content: "";
  border-style: solid;
  border-width: 15px 15px 15px 0px;
  border-color: transparent #c7c7c7 transparent transparent;
  height: 0px;
  position: absolute;
  top: 25%;
  left: -15px;
  -webkit-transform: rotate(360deg);
}
.left .mbottom-row-sc {
  width: 100%;
  background: black;
}
.left .mbottom-row-sc .mbottom-row-inner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.left .mbottom-row-sc .mbottom-row-inner .aboutus {
  width: 80%;
  position: relative;
  margin-left: 10%;
}
.left .mbottom-row-sc .mbottom-row-inner .aboutus .head {
  font-size: 4em;
  font-family: 'vital';
  color: white;
  margin-left: 35%;
}
.left .mbottom-row-sc .mbottom-row-inner .aboutus .ourtext {
  font-family: 'ppe';
  font-size: 1em;
  color: white;
}
.right {
  width: 100%;
  height: 2400px;
  float: right;
  margin-right: -1240px;
  margin-top: 0;
  position: relative;
}
.right .pro-head {
  position: relative;
  width: 100%;
}
.right .pro-head .pro-circle {
  margin: 0 auto;
  background: orange;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.right .pro-head .pro-text {
  color: red;
  font-family: 'whizbang';
  font-size: 5em;
}
.right .project1 {
  width: 100%;
  position: relative;
}
.right .project1 .project1-inner {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.right .project1 .project1-inner .project1-image {
  width: 60%;
}
.right .project1 .project1-inner .project1-caption {
  color: black;
  font-size: 2em;
  font-family: 'ppe';
}
.right .project2 {
  width: 100%;
  position: relative;
  margin-top: 10%;
}
.right .project2 .project2-inner {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.right .project2 .project2-inner .project2-image {
  width: 80%;
}
.right .project2 .project2-inner .project2-caption {
  color: black;
  font-size: 2em;
  font-family: 'ppe';
}
/*THE DILLI BLUES PROJECT*/
/********The line of trees*********/
/*Total header ends here*/
