#header {
	display: block;
}

#header img{
	width: 600px;
	margin-top: 30px;
	float: left;
	overflow: hidden;
}


.fact {
	float: right;
	margin-right: 80px;
	font-family: sans-serif;
	font-size: 1.5em;
	color: white;
	width: 500px;
	margin-top: 50px;
	font-family: 'Finger Paint', cursive;

	

}

body{
	background: rgb(34,69,105);
	margin: 0px;
	

}

.title{
	float: left;
	font-family: 'Cantora One', sans-serif;
	width: 1000px;
	color: white;
	font-size: 6em;
	margin-top: -23px;
}
.blues{
	float: left;
	font-family: 'Cantora One', sans-serif;
	width: 1000px;
	color: white;
	font-size: 8.9em;
	margin-top: -45px;

}
.cleff{
	float: left;
	position: absolute;
	margin-top: 405px;
	margin-left: 280px;

}
.cleff img{
	float: left;
}
.PROJECT{
	float: left;
	font-family: 'Cantora One', sans-serif;
	width: 1000px;
	color: white;
	font-size: 6.5em;
	margin-top: -47px;

}
.note{
	float: right;
	position: absolute;
	margin-left: 450px;
	margin-top: 300px;
}
.note img{
	float: right;
}
.note2{
	float: right;
	position: absolute;
	margin-left: 650px;
	margin-top: 350px;
}
.note2 img{
	float: right;
}
.birds{
	float: right;
	margin-top: -400px;
	margin-right: 100px;
}

.birds img{
	float:right;
}
.shape {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -310px;
	margin-left: 404px;
}

.shape img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
.shape3 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -239px;
	margin-left: 404px;



}

.shape3 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
.shape4 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -168px;
	margin-left: 404px;


}

.shape4 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}

.shape5 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -97px;
	margin-left: 404px;


}

.shape5 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
.shape6 {
	float: left;
	width: 815px;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: -26px;
	margin-left: 404px;


}

.shape6 img{
	float: right;
	margin-right: 5%;
	margin-top: -12.5px;
}
#content{
	display: block;
	float: right;
	color:white;
	font-family: 'Cantora One', sans-serif;
	background: url('bg.png');
	font-size: 1.5em;
	width:100%;
	height: 500px;
	margin-top: 50px;
}
#content img{
	float: left;
	margin-right: 20px;
	
}
.content-inner{
	background: rgba(34,69,105,0.7);
	
	height: 100%;
	padding: 50px;

}
.shape2{
	display: block;
	float: left;
	width: 100%;
	border-top: 2px solid rgb( 76, 136, 198);
	margin-top: 25px;
}
.shape2 img{
	float: left;
	margin-left: 10%;
	margin-top: -25px;
}

#content2-inner{
	background: rgba(34,69,105,0.5);
	
	height: 100%;
	padding: 50px;

}
#content2{
	display: block;
	background: url('bg2.png');
	float: left;
	color: white;
	font-family: 'Cantora One', sans-serif;
	font-size: 1.5em;
	margin-top: 5px;
	height: 500px;
}
#content2 img{
	float: right;
	margin-left: 10px;
}
#footer{
	display: block;

}
#footer img{
	width:100%;
	height: 400px;
	margin-bottom: 0px;
}
