body{
	margin: 0px;
}

@font-face{
    font-family: 'QuaverSans';
    src: url('note/font/QuaverSans.otf');
}

@font-face{
    font-family: 'QuaverSerif';
    src: url('note/font/QuaverSerif.otf');
}

@font-face {
  font-family: 'entypo';
  src: url('note/font/entypo.eot');
  src: url('note/font/entypo.eot') format('embedded-opentype'),
       url('note/font/entypo.woff') format('woff'),
       url('note/font/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.entypo{
	font-family: 'entypo';
}

@light:#6d6560;
@dark:#443f3c;
@pink:#4d004d;
@green:#009900;
@yellow:#ffe512;
@blue:#0077c3;
@orange:#ff6e12;
@red:#ff2c44;

.container{
	width: 100%;
	background:#000;
	.container-inner{
		position: relative;
		background: url('images/exclusive_paper.png');
		z-index: 0;
		height: 2000px;
		.bar{
		position: fixed;
		top: 0px;
		width: 100%;
		height: 50px;
		z-index: 100;
		background: #030303;
			.logobar{
				width:  100%;
				height: 100%;
				position: relative;
				.bartext{
					position: relative;
					/*// color: #443f3c;
					// left: 7%;
					// top: 35%;*/
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					/*line-height: 0.85px;*/
					margin-left: 12%;
					margin-top: -1%;
					/*// text-shadow:2px 2px 1px #a69f9a;*/
					color: #6d6560;
				}
				.logo1{
					position: relative;
					.entypo;
					font-size: 4em;
					// color: #443f3c;
					color: #6d6560;
					line-height: .8px;
					margin-left: 7%;
					margin-top: 2%;
					// text-shadow:2px 2px 1px #a69f9a;
					
				}
				.logo2{
					position: relative;
					.entypo;
					font-size: 4em;
					// color: #443f3c;
					// right: 3%;
					// line-height: 0.8px;
					margin-left: 90%;
					margin-top: -4%;
					// text-shadow:2px 2px 1px #a69f9a;
					color: #6d6560;
				}

			}
		}
		.banner{
		width: 100%;
		position: relative;
		height: 500px;
		padding-top: 100px;
		// background:url('images/real_cf.png');
		background: rgba(0,0,0,0.8);
		box-shadow: 3px 3px 15px #030303;
			.bannerlogo{
				width: 100%;
				position: relative;
				.blogo{
					position: relative;
					.entypo;
					color: #6d6560;	
					font-size: 15em;
					margin-left: 73%;
					width: 200px;
					word-spacing: 2px;
					height: 200px;
					border-radius: 50%;
					background:#443f3c; 
					text-align: center;
					line-height: 200px;
				}
				.bio{
					font-family: 'QuaverSans', cursive;
					font-size: 3em;
					color:#6d6560; 
					margin-left: 8%;
				}
				.title{
					font-family: 'QuaverSans', cursive;
					font-size: 7em;
					color:#6d6560; 
					margin-left: 8%;

				}
			}
			.circles{
			position: relative;
			
			width: 100%;
				.circle1{
					position: relative;
					.entypo;
					text-align: center;
					font-size: 7em;
					color: #6d6560;
					height: 100px;
					width: 100px;
					left: 60%;
					border-radius: 50%;
					background: #443f3c;
				}
				.tagbox{
					width: 60%;
					height: 500px;
					position: relative;
					background: yellow;
					float: right;

				}
				.circle2{
					.entypo;
					text-align: center;
					font-size: 7em;
					color: #6d6560;
					position: relative;
					height: 80px;
					width: 80px;
					left: 70%;
					border-radius: 50%;
					background: #443f3c;
					line-height: 80px;
				}
				.findme{
					width: 60%;
					height: 500px;
					position: relative;
					background: red;
					float: right;
					margin-top: -100%;


				}
				.circle3{
					.entypo;
					text-align: center;
					font-size: 7em;
					color: #6d6560;
					position: relative;
					height: 80px;
					width: 80px;
					left: 80%;
					border-radius: 50%;
					background: #443f3c;
					line-height: 80px;
					margin-top: -80px;
				}
					
			}
		}
		.showcase{
			width: 100%;
			position: relative;
			margin-top: 5%;
			padding-top: 5%;
			.linear1-container{
				height: 300px;
				// background: @dark;
				width: 90%;
				margin-left: 5%;
				box-shadow: 3px 3px 7px #030303;
				position: relative;
				
				img{
					width: 100%;
					height: 300px;
					
				}
				.linear1{
					width: 100%;
					background: @orange;
					opacity: 0.4;
					position: absolute;
  				 	z-index: 20;
					height: 300px;
				}
				.text1{
					width: 50%;
					height: 75px;
					background: @dark;
					position: relative;
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					color: @orange;
					text-align: center;
					margin-top: -6%;
					margin-left: 50%;
					border-radius: 10px;
					box-shadow: 3px 3px 7px #030303;
					z-index: 50;


				}


			}
			.linear2-container{
				height: 300px;
				// background: @dark;
				width: 90%;
				margin-left: 5%;
				margin-top:.5%; 
				box-shadow: 3px 3px 7px #030303;
				position: relative;


				img{
					width: 100%;
					height: 300px;
					
				}
				.linear2{
					width: 100%;
					background: @red;
					opacity: 0.4;
					position: absolute;
  				 	z-index: 20;
					height: 300px;
				}
				.text2{
					width: 50%;
					height: 75px;
					background: @dark;
					position: relative;
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					color: @red;
					text-align: center;
					margin-top: -6%;
					margin-left: 50%;
					border-radius: 10px;
					box-shadow: 3px 3px 7px #030303;
					z-index: 50;


				}



			}
			.linear3-container{
				height: 300px;
				// background: @dark;
				width: 90%;
				margin-left: 5%;
				margin-top:.5%; 
				box-shadow: 3px 3px 7px #030303;
				position: relative;


				img{
					width: 100%;
					height: 300px;
					
				}
				.linear3{
					width: 100%;
					background: @blue;
					opacity: 0.4;
					position: absolute;
  				 	z-index: 20;
					height: 300px;
				}
				.text3{
					width: 50%;
					height: 75px;
					background: @dark;
					position: relative;
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					color: @blue;
					text-align: center;
					margin-top: -6%;
					margin-left: 50%;
					border-radius: 10px;
					box-shadow: 3px 3px 7px #030303;
					z-index: 50;


				}



			}
			.linear4-container{
				position: relative;
				height: 300px;
				// background: @dark;
				width: 90%;
				margin-left: 5%;
				margin-top:.5%; 
				box-shadow: 3px 3px 7px #030303;

				img{
					width: 100%;
					height: 300px;
					
				}
				.linear4{
					width: 100%;
					background: @green;
					opacity: 0.4;
					position: absolute;
  				 	z-index: 20;
					height: 300px;
				}
				.text4{
					width: 50%;
					height: 75px;
					background: @dark;
					position: relative;
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					color: @green;
					text-align: center;
					margin-top: -6%;
					margin-left: 50%;
					border-radius: 10px;
					box-shadow: 3px 3px 7px #030303;
					z-index: 50;


				}



			}
			.linear5-container{
				position: relative;
				height: 300px;
				// background: @dark;
				width: 90%;
				margin-left: 5%;
				margin-top:.5%;
				box-shadow: 3px 3px 7px #030303;
				img{
					width: 100%;
					height: 300px;
					
				}
				.linear5{
					width: 100%;
					background: @pink;
					opacity: 0.4;
					position: absolute;
  				 	z-index: 20;
					height: 300px;
				}
				.text5{
					width: 50%;
					height: 75px;
					background: @dark;
					position: relative;
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					color: @light;
					text-align: center;
					margin-top: -6%;
					margin-left: 50%;
					border-radius: 10px;
					box-shadow: 3px 3px 7px #030303;
					z-index: 50;


				}



			}
			.linear6-container{
				position: relative;
				height: 300px;
				// background: @dark;
				width: 90%;
				margin-left: 5%;
				margin-top:.5%;
				box-shadow: 3px 3px 7px #030303;
				img{
						width: 100%;
						height: 300px;
					} 
				.linear6{
					width: 100%;
					background: @yellow;
					opacity: 0.4;
					position: absolute;
  				 	z-index: 20;
					height: 300px;
				}
				.text6{
					width: 50%;
					height: 75px;
					background: @dark;
					position: relative;
					font-family: 'QuaverSans', cursive;
					font-size: 2em;
					color: rgb(238,238,236);
					text-align: center;
					margin-top: -6%;
					margin-left: 50%;
					border-radius: 10px;
					box-shadow: 3px 3px 7px #030303;
					z-index: 50;


				}

					
			
				// .linear6-container-inner{
				// 	width: 100%;
				// 	background: @dark;
				// 	opacity: 0.5;
				// 	z-index: 100;
				// 	height: 300px;
				// 	margin-top: -27%;
					

				// }


			}

		}
		
	}
}