.body {
  margin: 0px;
}
.container {
  width: 100%;
  height: auto;
  background: #000;
}
.container .container-inner {
  position: relative;
  background: url('images/xx.png');
}
.container .container-inner .bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background: rgba(255, 155, 240, 0.5);
}
.container .container-inner .banner {
  width: 100%;
  position: relative;
  height: 150px;
  background: red;
}
