body {
  margin: 0px;
}
@font-face {
  font-family: 'entypo';
  src: url('note/font/entypo.eot');
  src: url('note/font/entypo.eot') format('embedded-opentype'), url('note/font/entypo.woff') format('woff'), url('note/font/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cutelove';
  src: url('note/font/cutelove.ttf');
}
@font-face {
  font-family: 'QuaverSans';
  src: url('note/font/QuaverSans.otf');
}
@font-face {
  font-family: 'QuaverSerif';
  src: url('note/font/QuaverSerif.otf');
}
@font-face {
  font-family: 'Glametrix';
  src: url('note/font/Glametrix.otf');
}
@font-face {
  font-family: 'Glametrix';
  src: url('note/font/GlametrixBold.otf');
}
@font-face {
  font-family: 'Glametrix';
  src: url('note/font/GlametrixLight.otf');
}
@font-face {
  font-family: 'devanew';
  src: url('note/font/devanew.ttf');
}
@font-face {
  font-family: 'tribal';
  src: url('note/font/Tribal.ttf');
}
@font-face {
  font-family: 'tree';
  src: url('note/font/tree.ttf');
}
@font-face {
  font-family: 'vital';
  src: url('note/font/vital.ttf');
}
@font-face {
  font-family: 'ppe';
  src: url('note/font/ppe.ttf');
}
@font-face {
  font-family: 'midnight';
  src: url('note/font/midnight.ttf');
}
@font-face {
  font-family: 'whizbang';
  src: url('note/font/whizbang.ttf');
}
@font-face {
  font-family: 'homestead';
  src: url('note/font/homestead.ttf');
}
.entypo {
  font-family: 'entypo';
}
.container {
  width: 100%;
  background: #fff;
}
.container .container-inner {
  position: relative;
  background: url('images/exclusive_paper.png');
  z-index: 0;
  height: 5000px;
}
.container .container-inner .bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
  background: #030303;
}
.container .container-inner .bar .logobar {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .container-inner .bar .logobar .bartext {
  position: relative;
  font-family: 'QuaverSans', cursive;
  font-size: 2em;
  margin-left: 12%;
  margin-top: -1%;
  color: #6d6560;
}
.container .container-inner .bar .logobar .logo1 {
  position: relative;
  font-family: 'entypo';
  font-size: 4em;
  color: #6d6560;
  line-height: .8px;
  margin-left: 7%;
  margin-top: 2%;
}
.container .container-inner .bar .logobar .logo2 {
  position: relative;
  font-family: 'entypo';
  font-size: 4em;
  color: #6d6560;
  line-height: 0.8px;
}
.container .container-inner .bar .logobar .logo3 {
  position: relative;
  font-family: 'entypo';
  font-size: 4em;
  margin-left: 90%;
  margin-top: -4%;
  color: #6d6560;
}
.container .container-inner .banner {
  width: 100%;
  position: relative;
  height: 500px;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 15px #030303;
}
.container .container-inner .banner .bannerlogo {
  width: 100%;
  position: relative;
}
.container .container-inner .banner .bannerlogo .blogo {
  position: relative;
  font-family: 'entypo';
  color: #6d6560;
  font-size: 15em;
  margin-left: 73%;
  width: 200px;
  word-spacing: 2px;
  height: 200px;
  border-radius: 50%;
  background: #443f3c;
  text-align: center;
  line-height: 200px;
}
.container .container-inner .banner .bannerlogo .bio {
  font-family: 'QuaverSans', cursive;
  font-size: 3em;
  color: #6d6560;
  margin-left: 8%;
}
.container .container-inner .banner .bannerlogo .title {
  font-family: 'QuaverSans', cursive;
  font-size: 7em;
  color: #6d6560;
  margin-left: 8%;
}
.container .container-inner .banner .circles {
  position: relative;
  width: 100%;
}
.container .container-inner .banner .circles .circle1 {
  position: relative;
  font-family: 'entypo';
  text-align: center;
  font-size: 7em;
  color: #6d6560;
  height: 100px;
  width: 100px;
  left: 60%;
  border-radius: 50%;
  background: #443f3c;
}
.container .container-inner .banner .circles .tagbox {
  width: 60%;
  height: 500px;
  position: relative;
  background: yellow;
  float: right;
}
.container .container-inner .banner .circles .circle2 {
  font-family: 'entypo';
  text-align: center;
  font-size: 7em;
  color: #6d6560;
  position: relative;
  height: 80px;
  width: 80px;
  left: 70%;
  border-radius: 50%;
  background: #443f3c;
  line-height: 80px;
}
.container .container-inner .banner .circles .findme {
  width: 60%;
  height: 500px;
  position: relative;
  background: red;
  float: right;
  margin-top: -100%;
}
.container .container-inner .banner .circles .circle3 {
  font-family: 'entypo';
  text-align: center;
  font-size: 7em;
  color: #6d6560;
  position: relative;
  height: 80px;
  width: 80px;
  left: 80%;
  border-radius: 50%;
  background: #443f3c;
  line-height: 80px;
  margin-top: -80px;
}
.container .container-inner .intro {
  position: relative;
  height: 100px;
  width: 100%;
}
.container .container-inner .intro .quote-container {
  width: 100%;
  position: relative;
  z-index: -1;
}
.container .container-inner .intro .quote-container .quote {
  position: relative;
  width: 40%;
  margin-left: 51%;
  margin-top: 5%;
  font-size: 3em;
  font-family: 'QuaverSerif';
  color: #443f3c;
  text-align: center;
}
.container .container-inner .intro .quote-container .dorothea {
  position: relative;
  font-size: 1.5em;
  font-family: 'QuaverSerif';
  color: #443f3c;
  float: right;
  width: 16%;
  margin-right: 13%;
}
.container .container-inner .intro .recent-works-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 8%;
  z-index: 1;
}
.container .container-inner .intro .recent-works-container .recent {
  float: left;
  width: 80%;
  font-size: 3em;
  color: #6d6560;
  font-family: 'QuaverSans', cursive;
  margin-top: 15px;
  margin-left: 10px;
}
.container .container-inner .intro .recent-works-container .rwlogo {
  font-family: 'entypo';
  float: left;
  font-size: 9em;
  line-height: 0.5em;
  color: #6d6560;
  margin-left: 4.5%;
}
.container .container-inner .page {
  position: relative;
  width: 90%;
  margin-left: 5%;
}
.container .container-inner .page .post {
  position: relative;
  width: 100%;
}
.container .container-inner .page .post img {
  width: 100%;
  box-shadow: 3px 3px 7px #030303;
}
.container .container-inner .page .post1 {
  height: 600px;
}
.container .container-inner .page .post1 .post1-bottom .post1-leaf {
  font-family: 'entypo';
  font-size: 10em;
  color: #6d6560;
  position: relative;
  float: left;
}
.container .container-inner .page .post1 .post1-bottom .post1-text {
  position: relative;
  width: 90%;
  height: 100px;
  font-family: 'QuaverSans', cursive;
  color: #443f3c;
  font-size: 4em;
  text-align: center;
  float: right;
  overflow: hidden;
  margin-top: 3%;
}
.container .container-inner .page .post1 .post1-bottom .logoss {
  font-family: 'entypo';
  color: #6d6560;
  font-size: 5em;
  margin-top: -10%;
  float: right;
}
.container .container-inner .page .post2 .post2-bottom .post2-leaf {
  font-family: 'entypo';
  font-size: 10em;
  color: #6d6560;
  position: relative;
  float: left;
}
.container .container-inner .page .post2 .post2-bottom .post2-text {
  position: relative;
  width: 90%;
  height: 100px;
  font-family: 'QuaverSans', cursive;
  color: #443f3c;
  font-size: 4em;
  text-align: center;
  float: right;
  overflow: hidden;
  margin-top: 3%;
}
.container .container-inner .page .post2 .post2-bottom .logoss2 {
  font-family: 'entypo';
  color: #6d6560;
  font-size: 5em;
  margin-top: -10%;
  float: right;
}
.container .container-inner .page .post3 .post3-bottom .post3-leaf {
  font-family: 'entypo';
  font-size: 10em;
  color: #6d6560;
  position: relative;
  float: left;
}
.container .container-inner .page .post3 .post3-bottom .post3-text {
  position: relative;
  width: 90%;
  height: 100px;
  font-family: 'QuaverSans', cursive;
  color: #443f3c;
  font-size: 4em;
  text-align: center;
  float: right;
  overflow: hidden;
  margin-top: 3%;
}
.container .container-inner .page .post3 .post3-bottom .logoss3 {
  font-family: 'entypo';
  color: #6d6560;
  font-size: 5em;
  margin-top: -10%;
  float: right;
}
.container .container-inner .footer {
  position: relative;
  width: 100%;
  height: 15%;
  z-index: 2;
  margin-top: 17%;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 240px;
}
.container .container-inner .footer .fint {
  position: relative;
  font-family: 'QuaverSans', cursive;
  color: #6d6560;
  font-size: 3em;
  width: 100%;
  margin-top: -16%;
}
.container .container-inner .footer .blog-container {
  position: relative;
  width: 92%;
  margin-left: 4%;
  height: 400px;
  margin-top: 3%;
}
.container .container-inner .footer .blog-container .blog1 {
  box-shadow: 1px 1px 7px #030303;
  position: relative;
  width: 30%;
  height: 300px;
  background: #443f3c;
  margin-left: 1%;
}
.container .container-inner .footer .blog-container .blog1 .blog1-image {
  width: 100%;
}
.container .container-inner .footer .blog-container .blog1 .blog1-image img {
  height: 80%;
  width: 100%;
}
.container .container-inner .footer .blog-container .blog1 .blog1-text {
  position: absolute;
  font-family: 'QuaverSans', cursive;
  color: #6d6560;
  font-size: 2em;
  margin-left: 30%;
  margin-top: 5%;
}
.container .container-inner .footer .blog-container .blog2 {
  position: relative;
  box-shadow: 1px 1px 7px #030303;
  width: 30%;
  height: 300px;
  background: #443f3c;
  margin-left: 35%;
  margin-top: -23.7%;
}
.container .container-inner .footer .blog-container .blog2 .blog2-image {
  width: 100%;
}
.container .container-inner .footer .blog-container .blog2 .blog2-image img {
  height: 80%;
  width: 100%;
}
.container .container-inner .footer .blog-container .blog2 .blog2-text {
  position: absolute;
  font-family: 'QuaverSans', cursive;
  color: #6d6560;
  font-size: 2em;
  margin-left: 30%;
  margin-top: 5%;
}
.container .container-inner .footer .blog-container .blog3 {
  position: relative;
  width: 30%;
  box-shadow: 1px 1px 7px #030303;
  height: 300px;
  background: #443f3c;
  margin-left: 69%;
  margin-top: -23.6%;
}
.container .container-inner .footer .blog-container .blog3 .blog3-image {
  width: 100%;
}
.container .container-inner .footer .blog-container .blog3 .blog3-image img {
  height: 80%;
  width: 100%;
}
.container .container-inner .footer .blog-container .blog3 .blog3-text {
  position: absolute;
  font-family: 'QuaverSans', cursive;
  color: #6d6560;
  font-size: 2em;
  margin-left: 30%;
  margin-top: 5%;
}
.container .container-inner .footer .ftext {
  position: relative;
  width: 80%;
  text-align: center;
  font-size: 2em;
  font-family: 'QuaverSans', cursive;
  color: #443f3c;
  margin-left: 10%;
  margin-top: 25%;
}
.container .container-inner .footer .seperator {
  width: 90%;
  margin-left: 5%;
  position: relative;
  border: 3px dotted #6d6560;
}
