body {
  margin: 0px;
}
@font-face {
  font-family: 'QuaverSans';
  src: url('note/font/QuaverSans.otf');
}
@font-face {
  font-family: 'QuaverSerif';
  src: url('note/font/QuaverSerif.otf');
}
@font-face {
  font-family: 'entypo';
  src: url('note/font/entypo.eot');
  src: url('note/font/entypo.eot') format('embedded-opentype'), url('note/font/entypo.woff') format('woff'), url('note/font/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.entypo {
  font-family: 'entypo';
}
.contianer {
  width: 100%;
  background: #000;
}
.contianer .container-inner {
  position: relative;
  background: url('images/exclusive_paper.png');
  z-index: 0;
  height: 2000px;
}
.contianer .container-inner .bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
  background: #030303;
}
.contianer .container-inner .bar .logobar {
  width: 100%;
  height: 100%;
  position: relative;
}
.contianer .container-inner .bar .logobar .bartext {
  position: relative;
  /*// color: #443f3c;
					// left: 7%;
					// top: 35%;*/

  font-family: 'QuaverSans', cursive;
  font-size: 2em;
  /*line-height: 0.85px;*/

  margin-left: 12%;
  margin-top: -1%;
  /*// text-shadow:2px 2px 1px #a69f9a;*/

  color: #6d6560;
}
.contianer .container-inner .bar .logobar .logo1 {
  position: relative;
  font-family: 'entypo';
  font-size: 4em;
  color: #6d6560;
  line-height: .8px;
  margin-left: 7%;
  margin-top: 2%;
}
.contianer .container-inner .bar .logobar .logo2 {
  position: relative;
  font-family: 'entypo';
  font-size: 4em;
  margin-left: 90%;
  margin-top: -4%;
  color: #6d6560;
}
